<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::common(~{::#content},'Admin |')}">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<div id="content">

		<div class="container-fluid p-3">
			<div
				class="d-flex justify-content-between align-items-center mb-3 mt-3">
				<a href="/admin/" class="btn btn-danger ms-3 col-md-1"> <i
					class="bi bi-arrow-left"></i> Back
				</a>
				<h2 class="text-center flex-grow-1">All Products</h2>
				<div class="col-md-1"></div>
				<!-- Empty space to balance the layout -->
			</div>
			<hr>


			<th:block th:if="${session.successMsg}">
				<p class="text-success fw-bold text-center fs-3">[[${session.successMsg}]]</p>
				<th:block th:text="${@removeSessionImpl.removeSessionMessage()}"></th:block>
			</th:block>
			<th:block th:if="${session.errorMsg}">
				<p class="text-danger fw-bold text-center fs-3">[[${session.errorMsg}]]</p>
				<th:block th:text="${@removeSessionImpl.removeSessionMessage()}"></th:block>
			</th:block>

			<div class="col-md-4 p-4">

				<form th:action="@{'/admin/view_products'}">
					<div class="row">
						<div class="col">
							<input type="text" class="form-control " name="character">
						</div>
						<div class="col">
							<button class="btn btn-danger col">Search</button>
						</div>
					</div>
				</form>

			</div>

			<div class="card card-sh">
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Image</th>
								<th scope="col">Name</th>
								<th scope="col">Category</th>
								<th scope="col">Price</th>
								<th scope="col">Discount</th>
								<th scope="col">Discount Price</th>
								<th scope="col">Status</th>
								<th scope="col">Stock</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product,c : ${allProducts}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/product_img/'+${product.image}}"
									width="50px" height="50px" /></td>
								<td>[[${product.name}]]</td>
								<td>[[${product.category}]]</td>
								<td>[[${product.price}]]</td>
								<td>[[${product.discount}]]</td>
								<td>[[${product.discountPrice}]]</td>
								<td>[[${product.isActive}]]</td>
								<td>[[${product.stock}]]</td>

								<td><a th:href="@{'/admin/update_product/'+${product.id}}"
									class="btn btn-primary"><i
										class="fa-solid fa-pen-to-square text-white"></i> Update</a> <a
									th:href="@{'/admin/deleteProduct/'+${product.id}}"
									class="btn btn-danger"><i
										class="fa-solid fa-trash text-white"></i> Delete</a></td>
							</tr>

						</tbody>
					</table>

					<div class="row">
						<div class="col-md-4 ">Total Products : [[${totalElements}]]</div>
						<div class="col-md-6">

							<th:block th:if="${totalElements > 0}">


								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"
											th:classappend="${isFirst}?'disabled' : '' "><a
											class="page-link"
											th:href="@{'/admin/view_products?pageNo='+${pageNo-1}}"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>

										<li th:each="page : ${#numbers.sequence(1, totalPages)}"
											class="page-item"
											th:classappend="${pageNo+1==page}?'active' : ''"><a
											class="page-link"
											th:href="@{'/admin/view_products?pageNo='+${page-1}}">[[${page}]]
										</a></li>

										<li class="page-item"
											th:classappend="${isLast}?'disabled' : '' "><a
											class="page-link"
											th:href="@{'/admin/view_products?pageNo='+${pageNo+1}}"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>

							</th:block>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>